<ion-header [translucent]="true">
  <ion-toolbar mode="ios">
    <ion-title>
      Lista de Compras
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list>
    <ion-item *ngFor="let produto of meusProdutos" >
      <ion-label><strong>Item: </strong> Arroz</ion-label>
      <ion-label>Qtd: {{produto.quantidade}}</ion-label>
      <ion-button color="danger" slot="end" (click)="deletar(produto.id)">Deletar</ion-button>
    </ion-item> 
  </ion-list>

  <ion-fab horizontal="end" vertical="bottom">
    <ion-fab-button routerLink="/formulario">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
